<div class="container">
  <div class="row">
    <div class="col-md-5 my-5">
      <h2>Ubah Data Contact</h2>

      <% if (typeof error != 'undefined') { %>
      <div class="alert alert-warning" role="alert">
        <ul>
          <% error.forEach((error) => { %>

          <li><%= error.msg %></li>

          <% }) %>
        </ul>
      </div>
      <% } %>

      <form class="bg-light bg-gradient px-3 py-3 mt-3 rounded" method="post" action="/contact/update">
        <input type="hidden" name="oldNama" value="<%= (contact.oldNama) ? contact.oldNama : contact.nama  %>" />
        <div class="mb-3">
          <label for="nama" class="form-label">Nama Lengkap</label>
          <input type="text" class="form-control" id="nama" name="nama" required value="<%= contact.nama %>" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required value="<%= contact.email %>" />
        </div>
        <div class="mb-3">
          <label for="ponsel" class="form-label">Nomor Hanphone</label>
          <input type="text" class="form-control" id="ponsel" name="ponsel" required value="<%= contact.ponsel %>" />
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>
